<%= form_for [ @article, @comment ] do |f| %>
  <ul class="list-group">
  <% @article.errors.full_messages.each do |error| %>
    <li class="list-group-item" ><%= error %></li>
  <% end %>
  </ul>
  <div class="form-group">
    <%= f.label :author_name, class: "col-md-4 control-label" %><br />
    <%= f.text_field :author_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, class: "col-md-4 control-label" %><br />
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit "Submit", class:"btn btn-default btn-primary" %>
<% end %>