<div class="p-3 mb-2 bg-primary d-flex justify-content-between text-white">
	<div class="text-white">
		<h3>All Articles</h3>
	</div>
	<div>
		<% if !(user_signed_in?) %> <%= link_to "LOGIN", new_user_session_path, class:"btn btn-primary"%>
		<%= link_to "REGISTER", new_user_registration_path, class:"btn btn-primary"%> <% end %>
		<% if (user_signed_in?) %> <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class:"btn btn-primary"%> <% end %>
		<%= link_to "ADD ARTICLE", new_article_path, class:"btn btn-primary"%>
	</div>
</div>

<% if flash.now[:notice] %> <div class="alert alert-info"><%= flash.now[:notice] %></div> <% end %>

<div class="position-relative">
	<ul id="articles" class="list-group-item" >
	  <% @articles.each do |article| %>
	    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
	      <%= link_to article.title, article_path(article), class: 'article_title', id: "article_#{article.id}" %>
	    	<span class="badge badge-primary badge-pill"><%= article.comments.size %></span>
	    </li>
	  <% end %>
	</ul>
</div>

<%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

