<div class="p-3 mb-2 bg-primary d-flex justify-content-between text-white">
	<div class="d-flex justify-content-between">
		<h3><%= @article.title %></h3>
	</div>
	<div>
		<%= link_to "EDIT", edit_article_path(@article), class:"btn btn-default btn-primary" %>
		<%= link_to "DELETE", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}, class:"btn btn-danger" %>
	</div>
</div>
</br>
<div class="container-fluid">
	Author: <%= User.find(@article.user_id).name %>
	</br>
	</br>
	<%= @article.body %>
</div>
</br>
<div class="container-fluid d-flex justify-content-between">
	<div class="d-flex justify-content-between">
		<h4>Comments (<%= @article.comments.size %>)</h4>
	</div>
</div>
  <%= render partial: 'articles/comment'%>
  <%= will_paginate @comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</br>


<div class="container-fluid d-flex justify-content-between">
	<h4>Post a Comment</h4>
</div>


<div class="container-fluid d-flex justify-content-between">
	<div class="container-fluid">
		<%= render partial: 'comments/form' %>
	</div>
</div>

</br>

<div class="d-flex justify-content-between">
	<%= link_to "BACK" , articles_path , class:"btn btn-default btn-primary"  %>
</div>